# Bytecode and cache
__pycache__/
*.py[cod]
*.so

# Build metadata
*.egg-info/
*.eggs/
build/
dist/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode / PyCharm project files
.vscode/
.idea/

# SLURM output logs
**/slurm_logs/**/**.out
**/slurm_logs/**/**.err

# Environment and runtime
.env
.venv
*.log
.DS_Store

# Temporary files
result_**.json
result.json

# Trained models/checkpoints
models/test1/**
models/env_**/**

# Episode metrics -- on episode end
ep_metrics/**

# SB logs
logs/**

# Data
# Weather data is large, so we ignore the entire folder except for the ds_links.txt file which contains the Zenodo links to the original data sources.
data/weather/zenodo/**
!data/weather/zenodo/ds_links.txt
data/weather/**/LLEC_**
data/weather/**/10min**
data/weather/**/produkt_zehn**
data/weather/dwd/downloaded/**
data/weather/dwd/preprocessed/**
data/hh_consumption/**
# Energy price data -- ignore all, scripts are there for fetching and preprocessing the data.
data/e_price/**

**rapidapi_key.yaml**

# Data eval dir
data/eval1/**

# HDF file report
hdf5_report.json

param_space.json

# Plotting outputs
plotting/out/**

# Eval results
eval_results/**

# Preprocessing, data quality summary -- only the figure needed
data/quality_reports/data_quality_summary.csv

**/meeting_notes.md
**/models/**

# Diagnostic files about experiment runs, notes, etc..
status.txt
disk_usage.txt
note.txt