.ipynb_checkpoints/
# Bytecode and cache
__pycache__/
*.py[cod]
*.so

# Build metadata
*.egg-info/
*.eggs/
build/
dist/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Archived notebooks (custom)
notebooks_archive/

# Ignore imitation learning folder (top level)
imitation_learning/

# Ignore specific subfolder in models
models/il_agent/

# VSCode / PyCharm project files (optional)
.vscode/
.idea/

# SLURM output logs (optional, for HPC clusters)
**slurm_logs_eval/**.out
**slurm_logs_eval/**.err
**slurm_logs_train/**.err
**slurm_logs_train/**.out

# Environment and runtime
.env
.venv
*.log
.DS_Store
*.pyc
__pycache__/
plot-paper/workshop_animation.ipynb
results/
models/temperature/T01/ppo_model_seed18.zip
adv_env

# Temporary files
result_**.json
result.json

models/test1/**

# Episode metrics -- on episode end
ep_metrics/**

# SB logs
logs/**